
<section class="section-divider textdivider divider4">
			<div class="container">
				<h1><strong>Welcome</strong></h1>
				<hr>
				<p><strong>Please enter your guests information.</strong></p>
			</div><!-- container -->
</section>			

<div class="container">

<div class= "row">
	<div class="col-lg-6">


	<p>
	<form class="form-horizontal" id="adminInput">
	<div class="form-group">
	 <label for="firstName" class="col-lg-4 control-label"></label>
			<div class="col-lg-10">
			<input type="text" class="form-control" id="firstName" placeholder="First Name">
			</div>
			</div>
	 <div class="form-group">
     <label for="lastName" class="col-lg-4 control-label"></label>
			<div class="col-lg-10">
	        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
			</div>
			</div>
	 <div class="form-group">
	 <label for="email" class="col-lg-4 control-label"></label>
			<div class="col-lg-10">
			<input type="email" class="form-control" id="email" placeholder="Email">
			</div>
			</div>
	 <div class="form-group">
	 <label for="position" class="col-lg-4 control-label"></label>
		    <div class="col-lg-10">
			<input type="text" class="form-control" id="position" placeholder="Position">
			</div>
		    </div>
	 <div class="form-group">
	 <label for="table" class="col-lg-4 control-label"></label>
			<div class="col-lg-10">
			<input type="text" class="form-control" id="table" placeholder="Table">
			</div>
			</div>
	<div class="form-group">
	 <label for="linkedin" class="col-lg-4 control-label"></label>
			<div class="col-lg-10">
			<input type="text" class="form-control" id="linkedin" placeholder="LinkedIn">
			</div>
			</div>
     <div class="form-group">
	 <label for="imagePath" class="col-lg-4 control-label"></label>
			<div class="col-lg-10">
			<input type="text" class="form-control" id="image" placeholder="Picture">
			</div>
			</div>
	 <div class="form-group">
	 <div class="col-lg-10">
		    <button type="submit" id="addGuest" class="btn btn-success centered">Enter</button>
			</div>
			</div>
	</form><!-- form -->		   
 	</p>
 	</div>

 	<div class = "col-lg-6" id="results">
      <table class = "table table-striped table-responsive" id="masterList">
            <tr><th>First Name</th><th>Last Name</th><th>Position</th><th>Table</th></tr>
      </table>

 

</div>
</div>
</div>

