
<section class="section-divider textdivider divider1">
			<div class="container">
				<h1>Welcome</h1>
				<hr>
				<p>Please enter your guests information.</p>
			</div><!-- container -->
			</section>
<section class="section-divider">
	<div class="row-md-4">
	<form action ="/guest/create" method="post" class="form-horizontal" role="form">
	<div class="form-group">
	 <label for="firstName" class="col-lg-4 control-label"></label>
			<div class="col-lg-4">
			<input type="text" class="form-control" id="firstName" placeholder="First Name">
			</div>
			</div>
	 <div class="form-group">
     <label for="text1" class="col-lg-4 control-label"></label>
			<div class="col-lg-4">
	        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
			</div>
			</div>
	 <div class="form-group">
	 <label for="email" class="col-lg-4 control-label"></label>
			<div class="col-lg-4">
			<input type="email" class="form-control" id="email" placeholder="Email">
			</div>
			</div>
	 <div class="form-group">
	 <label for="position" class="col-lg-4 control-label"></label>
		    <div class="col-lg-4">
			<input type="text" class="form-control" id="position" placeholder="Position">
			</div>
		    </div>
	 <div class="form-group">
	 <label for="table" class="col-lg-4 control-label"></label>
			<div class="col-lg-4">
			<input type="text" class="form-control" id="table" placeholder="Table">
			</div>
			</div>
	<div class="form-group">
	 <label for="linkedin" class="col-lg-4 control-label"></label>
			<div class="col-lg-4">
			<input type="text" class="form-control" id="table" placeholder="LinkedIn">
			</div>
			</div>
     <div class="form-group">
	 <label for="image" class="col-lg-4 control-label"></label>
			<div class="col-lg-4">
			<input type="text" class="form-control" id="table" placeholder="Picture">
			</div>
			</div>
	 <div class="form-group">
	 <div class="col-lg-4">
		    <button type="submit" class="btn btn-success">Enter</button>
			</div>
			</div>
	</form><!-- form -->
					   


 	
   <div class = "table responsive row-md-8">
 	<table class= "table table-striped">
 	<h1> Master Guest List</h2>	
 	<thead>
 	<th>First Name</th>
 	<th>Last Name</th>
 	<th>Position</th>
 	<th>Table</th>
 	</thead>
 	<tbody>
 	{{# each guests}}
 	<tr>
 	<td>{{firstName}}<td>
 	<td>{{lastName}}</td>
 	<td>{{position}}</td>
    <td>{{table}}</td>
    </tr>
    {{/each}}
    </tbody>
    </table>


	<div id = "buttons">
	<button id="tablesort">Sort by Table</button>
	</div> 
</div>

</section>
