<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
	  		 		<h1><span class="glyphicon glyphicon-link"></span></h1>
	  		 		<p>sayHello</p>
	  		 		<p>Your networking resource.</p>
	  		</header>	    
	    </div><!-- /headerwrap -->

<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="row">
					
				<div class="col-lg-6 callout">
					<button type="button" class="btn btn-danger"><a href='admin' span class="glyphicon glyphicon-paperclip">
					</span>
					</a>
					</button>
					<h2>Administrator</h2>
					<p>Sign in here to organize your event.</p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-6 callout">
					<button type ="button" class="btn btn-danger"><a href = 'user/signup'
					span class="glyphicon glyphicon-link" color="white"></span>
					</a>
					</button>
					<h2>Guest</h2>
					<p>Sign in here to see who you can look foward to saying Hello to.</p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
		